<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quia tenetur laborum mollitia fugiat deserunt corrupti minima expedita dolore, architecto dolor culpa ad, impedit laudantium ea excepturi nulla inventore. Quibusdam et placeat quo neque provident excepturi laboriosam, eius veritatis quas!</p>
    </div>
</div>