<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node Js and MongoDb</h1>

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis officiis a velit perferendis voluptas ullam repudiandae maiores quod. Soluta quas voluptate harum tempora consequuntur magni exercitationem nemo alias dignissimos magnam!</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia natus possimus sint delectus quidem sequi velit quae, animi qui iure placeat id aut laboriosam quisquam earum distinctio ducimus iste nobis.
    </p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWweb</a>
</div>